.card__items{
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 9px;
    height: 450px;
    padding: 10px;
  
}

.card__img{
    width: 255px;
    height: 377px;
}

.cards{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 30px;
}

.card__year{
    color: green;
    font-size: 18px;

}

.card__title{
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}

.card__types{
    margin: 0;
    float: right;
    color: blue;
    font-weight: 700;
}
